<form class="navbar-form navbar-right" role="form">
    <div class="form-group">
        <button type="submit" class="btn" data-ng-click="requeryServer()">Requery</button>
        <label for="keyPrefix" title='Enter text or a JSON ["string array"] to restrict results to View Keys that start with the entered value, or a number receded by an equals sign such as =12345 to restrict results to that View Key value.'>&nbsp;&nbsp;Key Prefix:&nbsp;</label>
        <input class="form-control" id="keyPrefix" type="text" size="60" data-ng-model="keyPrefix">
        <label for="skipCount" title="Number of view result documents to skip. Automatically updated by Next and Prev paging buttons. Optionally type an alternate value and press Enter (or click Requery).">&nbsp;Skip:&nbsp;</label>
        <input class="form-control" id="skipCount" type="number" style="width: 7em" min="0" step="{{pageSize}}" data-ng-model="skipCount">
        <label for="pageSize" title="A negative value, such as -10, sorts and pages in descending order.">&nbsp;Page Size:&nbsp;</label>
        <input class="form-control" id="pageSize" type="number" style="width: 7em" min="-1000" max="1000" step="10" data-ng-model="pageSize">
        <button type="button" class="btn" data-ng-show="skipCount > 0" data-ng-click="prevPage()">Prev</button>
        <button type="button" class="btn" data-ng-click="nextPage()">Next</button>
    </div>
    <div style="height: 2px">&nbsp;</div>
    <div class="form-group">
        <label for="docFilter" title="Enter a Javascript expression against the key, value, id, cas, or doc objects that evaluates to true or false.">&nbsp;&nbsp;Doc Filter:&nbsp;</label>
        <input class="form-control" id="docFilter" type="text" size="140" data-ng-model="docFilter">
    </div>
</form>
<div style="height: 0px">&nbsp;</div>
<table class="table table-striped">
    <thead>
        <tr data-ng-show="resultSetMessage">
            <th colspan="7">{{resultSetMessage}}</td>
        </tr>
        <tr>
            <th>#</th>
            <th>View Key</th>
            <th>View Value</th>
            <th>Document ID</th>
            <th>CAS Timestamp</th>
            <th colspan="2">
                <button type="button" class="btn btn-success btn-xs btn-block" data-ng-click="createOrUpdate(undefined)">Create</button>
            </th>
        </tr>
    </thead>
    <tbody data-ng-repeat="document in documents">
        <tr>
            <td>
                {{document.index}}
                <a href="javascript:void(0)" data-ng-show="document.expanded === true" data-ng-click="document.expanded = false">
                    <span class="glyphicon glyphicon-chevron-up"></span>
                </a>
                <a href="javascript:void(0)" data-ng-show="document.expanded === false" data-ng-click="document.expanded = true">
                    <span class="glyphicon glyphicon-chevron-down"></span>
                </a>
            </td>
            <td>{{document.key}}</td>
            <td>{{document.value}}</td>
            <td>{{document.id}}</td>
            <td>{{document.cas}}</td>
            <td style="width: 4em">
                <button type="button" class="btn btn-primary btn-xs btn-block" data-ng-click="createOrUpdate(document)">Edit</button>
            </td>
            <td style="width: 5em">
                <button type="button" class="btn btn-danger btn-xs btn-block" data-ng-click="delete(document)">Delete</button>
            </td>
        </tr>
        <tr data-ng-show="document.expanded === true">
            <td colspan="7">
                <pre>{{document.bodyString}}</pre>
            </td>
        </tr>
    </tbody>
</table>