<div class="modal-header">
    <h3 class="modal-title">Delete document '{{doc.id}}' from bucket '{{view.bucketId}}'?</h3>
</div>
<div class="modal-body">
    <div class="panel panel-danger">
        <div class="panel-heading">
            Unexpected bad things will happen if you don't read this!
        </div>
        <div class="panel-body">
            <p>
                This action <b><em>CANNOT</em></b> be undone.<br />
                This will permanently delete the <b>{{doc.id}}</b> document.
            </p>
            <p>
                <b>Content</b>
            </p>
            <p>
                <pre>{{doc.bodyString}}</pre>
            </p>
            <p>
                Please retype (or copy/paste) the Document ID to confirm.
            </p>
        </div>
    </div>
    <form role="form">
        <div class="form-group">
            <label for="confirmationDocId">Confirmation Document ID</label>
            <input type="text" autofocus class="form-control" id="confirmationDocId" placeholder="(Document ID)" data-ng-model="confirmationDocId">
        </div>
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-danger" data-ng-click="ok(confirmationDocId)">Delete</button>
    <button type="button" class="btn btn-default" data-ng-click="cancel()">Cancel</button>
</div>