<form class="navbar-form navbar-right" role="form">
    <span class="form-group">
        <button type="button" class="btn" data-ng-click="requeryServer()">Requery</button>
        <label for="keyPrefix">&nbsp;&nbsp;Key Prefix:&nbsp;</label>
        <input class="form-control" id="keyPrefix" type="text" size="45" data-ng-model="keyPrefix">
        <label for="pageSize">&nbsp;&nbsp;Skip: {{skipCount}}&nbsp;&nbsp;Page Size:&nbsp;</label>
        <input class="form-control" id="pageSize" type="number" min="1" max="500" step="10" size="1" data-ng-model="pageSize">
        <button type="button" class="btn" data-ng-show="skipCount > 0" data-ng-click="prevPage()">Prev</button>
        <button type="button" class="btn" data-ng-click="nextPage()">Next</button>
    </span>
</form>
<table class="table table-striped">
    <thead>
        <tr>
            <th>#</th>
            <th>View Key</th>
            <th>View Value</th>
            <th>Document ID</th>
            <th>CAS</th>
            <th colspan="2">
                <button type="button" class="btn btn-success btn-xs btn-block" data-ng-click="createOrUpdate(undefined)">Create</button>
            </th>
        </tr>
    </thead>
    <tbody data-ng-repeat="document in documents">
        <tr>
            <td>
                {{$index + skipCount + 1}}
                <a href="javascript:void(0)" data-ng-show="document.expanded === true" data-ng-click="document.expanded = false">
                    <span class="glyphicon glyphicon-chevron-up"></span>
                </a>
                <a href="javascript:void(0)" data-ng-show="document.expanded === false" data-ng-click="document.expanded = true">
                    <span class="glyphicon glyphicon-chevron-down"></span>
                </a>
            </td>
            <td>{{document.key}}</td>
            <td>{{document.value}}</td>
            <td>{{document.id}}</td>
            <td>{{document.cas}}</td>
            <td>
                <button type="button" class="btn btn-primary btn-xs btn-block" data-ng-click="createOrUpdate(document)">Edit</button>
            </td>
            <td>
                <button type="button" class="btn btn-danger btn-xs btn-block" data-ng-click="delete(document)">Delete</button>
            </td>
        </tr>
        <tr data-ng-show="document.expanded === true">
            <td colspan="7">
                <pre>{{document.bodyString}}</pre>
            </td>
        </tr>
    </tbody>
</table>